*{margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body{background:#0d0c12;font-family:sans-serif;overflow-x: hidden;overflow-y: overlay;}
@font-face{font-family:'APompadourBoldSample';src:url(../fonts/APompadourBoldSample.eot?#iefix) format("embedded-opentype"),url(../fonts/APompadourBoldSample.woff) format("woff"),url(../fonts/APompadourBoldSample.ttf) format("truetype"),url(../fonts/APompadourBoldSample.svg#APompadourBoldSample) format("svg");font-weight:400;font-style:normal}
@font-face{font-family:'APompadourSample';src:url(../fonts/APompadourSample.eot?#iefix) format("embedded-opentype"),url(../fonts/APompadourSample.woff) format("woff"),url(../fonts/APompadourSample.ttf) format("truetype"),url(../fonts/APompadourSample.svg#APompadourSample) format("svg");font-weight:400;font-style:normal}
@font-face{font-family:'CoolveticaCompressedRg-Regular';src:url(../fonts/CoolveticaCompressedRg-Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/CoolveticaCompressedRg-Regular.woff) format("woff"),url(../fonts/CoolveticaCompressedRg-Regular.ttf) format("truetype"),url(../fonts/CoolveticaCompressedRg-Regular.svg#CoolveticaCompressedRg-Regular) format("svg");font-weight:400;font-style:normal}
@font-face{font-family:'CoolveticaCondensedRg-Regular';src:url(../fonts/CoolveticaCondensedRg-Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/CoolveticaCondensedRg-Regular.woff) format("woff"),url(../fonts/CoolveticaCondensedRg-Regular.ttf) format("truetype"),url(../fonts/CoolveticaCondensedRg-Regular.svg#CoolveticaCondensedRg-Regular) format("svg");font-weight:400;font-style:normal}
@font-face{font-family:'CoolveticaCrammedRg-Regular';src:url(../fonts/CoolveticaCrammedRg-Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/CoolveticaCrammedRg-Regular.woff) format("woff"),url(../fonts/CoolveticaCrammedRg-Regular.ttf) format("truetype"),url(../fonts/CoolveticaCrammedRg-Regular.svg#CoolveticaCrammedRg-Regular) format("svg");font-weight:400;font-style:normal}
@font-face{font-family:'MarketDeco';src:url(../fonts/MarketDeco.eot?#iefix) format("embedded-opentype"),url(../fonts/MarketDeco.woff) format("woff"),url(../fonts/MarketDeco.ttf) format("truetype"),url(../fonts/MarketDeco.svg#MarketDeco) format("svg");font-weight:400;font-style:normal}
@font-face{font-family:'TheBoldFont';src:url(../fonts/TheBoldFont.eot?#iefix) format("embedded-opentype"),url(../fonts/TheBoldFont.woff) format("woff"),url(../fonts/TheBoldFont.ttf) format("truetype"),url(../fonts/TheBoldFont.svg#TheBoldFont) format("svg");font-weight:400;font-style:normal}
@font-face{font-family:'TheNextFont';src:url(../fonts/TheNextFont.eot?#iefix) format("embedded-opentype"),url(../fonts/TheNextFont.woff) format("woff"),url(../fonts/TheNextFont.ttf) format("truetype"),url(../fonts/TheNextFont.svg#TheNextFont) format("svg");font-weight:400;font-style:normal}
@font-face{font-family:'ViceCitySans';src:url(../fonts/ViceCitySans.eot?#iefix) format("embedded-opentype"),url(../fonts/ViceCitySans.otf) format("opentype"),url(../fonts/ViceCitySans.woff) format("woff"),url(../fonts/ViceCitySans.ttf) format("truetype"),url(../fonts/ViceCitySans.svg#ViceCitySans) format("svg");font-weight:400;font-style:normal}
@font-face {font-family: 'CoolveticaRg-Regular';src: url('../fonts/CoolveticaRg-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/CoolveticaRg-Regular.woff') format('woff'), url('../fonts/CoolveticaRg-Regular.ttf')  format('truetype'), url('../fonts/CoolveticaRg-Regular.svg#CoolveticaRg-Regular') format('svg');font-weight: normal;font-style: normal;}
  
/* font family classess */
.pDBold{font-family: 'APompadourBoldSample';}
.pDRg{font-family: 'APompadourSample';}
.colveticaRg{font-family: 'CoolveticaRg-Regular';}
/* .cCompRg{font-family: 'CoolveticaCompressedRg-Regular';}
.cCondRg{font-family: 'CoolveticaCondensedRg-Regular';}
.cCramRg{font-family: 'CoolveticaCrammedRg-Regular';} */
.marketDeco{font-family: 'MarketDeco';}
.boldFont{font-family: 'TheBoldFont';}
.nextFont{font-family: 'TheNextFont';}
.viceCity{font-family: 'ViceCitySans';}


/* common classes */
.img-fluid{max-width:100%;height:auto;display:block}
.w-100{width:100%}
.w-75{width:75%}
.w-50{width:50%}
.w-25{width:25%}
.d-flex{display:flex}
.fullHeight{height:100%}
.greenColor{color:#b0f831}
.purpleColor{color: #fc10f3;}
.blueColor{color: #2ebfd0;}
/* .greenColor{color: #2ae1a9;} */
main{height:100vh}
.mfp-bg{opacity: 1;background-image: linear-gradient(40deg, #592c6d 10%, #053645);}
.mfp-arrow{top: 99%;}
.mfp-close, .mfp-counter{display: none !important}
.mfp-figure figure{position: relative;}
.mfp-bottom-bar{position: absolute;bottom: 6%;left: 0;width: 100%;cursor: auto;top: inherit;background: rgba(0, 0, 0, 0.90);padding: 1rem;font-family: 'APompadourSample';}
.mfp-title{line-height: 1.4;font-size: 1.2rem;}



/* menu bar*/
.menuDiv{position: fixed;top: 0;width: 100%;z-index: 99999;display: flex;justify-content: center;text-align: center;align-items: center;transition: 0.6s;bottom: 0;height: 100%;display: none;}
.singleMenu{width: 33.33%;flex: 0 0 33.33%;height: 100%;overflow: hidden;}
.singleMenu div{height: 100%;align-items: center;display: flex;justify-content: center;font-size: 3rem;letter-spacing: 5px;text-transform: uppercase;font-family: APompadourBoldSample;background: #000;position: relative;width: 100%;}
.singleMenu a{text-decoration: none;color: #b0f831;display: inline-block;position: relative;overflow: hidden;}
.singleMenu a::before{content: '';position: absolute;height: 5px;width: 100%;bottom: 0px;left: 0;background: #b0f831;z-index: 1;transition: 0.6s;}
.singleMenu a::after{content: '';position: absolute;height: 3px;width: 100%;bottom: 0px;left: -100%;background: pink;z-index: 1;transition: 0.6s;}
.singleMenu:hover a::before{left: 100%;}
.singleMenu:hover a::after{left: 0%;}
.singleMenu a:hover{color: pink;}


.menuDiv ul{width: 100%;}
.menuDiv ul li{font-size: 3rem;letter-spacing: 5px;text-transform: uppercase;margin-bottom: 2rem;list-style-type: none;position: relative;font-family: APompadourBoldSample;}
.menuDiv ul li a{text-decoration: none;color: #b0f831;display: inline-block;position: relative;overflow: hidden;}
.menuDiv ul li a::before{content: '';position: absolute;height: 5px;width: 100%;bottom: 0px;left: 0;background: #b0f831;z-index: 1;transition: 0.6s;}
.menuDiv ul li a::after{content: '';position: absolute;height: 3px;width: 100%;bottom: 0px;left: -100%;background: pink;z-index: 1;transition: 0.6s;}
.menuDiv ul li:hover a::before{left: 100%;}
.menuDiv ul li:hover a::after{left: 0%;}
.menuDiv ul li a:hover{color: pink;}
.closeBtn{position: absolute;top: 7%;right: 2%;z-index: 9;display: none;}
.closeBtn span{display: block;height: 4px;background: #b0f831;width: 50px;position: relative;cursor: pointer;transition: 0.6s;}
.closeBtn span:nth-child(1){transform: rotate(45deg);}
.closeBtn span:nth-child(2){transform: rotate(-45deg);margin-top: -4px;}
/* .closeBtn:hover span:nth-child(1){transform: rotate(-45deg);}
.closeBtn:hover span:nth-child(2){transform: rotate(45deg);} */

/* Loader */
.overLay{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: #000;z-index: 3;}
/* .loader{position: fixed;z-index: 4;top: 50%;left: 50%;transform: translate(-50%);} */

.loader{height: 100vh;width: 100%;background: #000;position: fixed;top: 0;left: 0;z-index: 9;}
/* .loader img{display:none}
.loader canvas{left:50%;max-height:100%;max-width:100%;position:absolute;top:50%;background:#000}
.loader .title{background-image:url(../images/logo-loader.png);background-position:center;background-repeat:no-repeat;background-size:contain;height:38px;left:50%;margin-left:-124px;margin-top:-19px;position:absolute;top:50%;width:248px} */

/* header bar */
header{position:fixed;width:100%;background:transparent;top:0;left:0;display:flex;justify-content:space-between;padding:1rem;align-items:center;z-index: 9999;height: 95px;}
.hamBurgerIcon{font-size: 1.5rem;cursor: pointer;border: solid 4px #436475e3;width: 45px;height: 45px;text-align: center;border-radius: 50%;padding: 6px 0;}
/* .hamBurgerIcon:hover{color: #6066d8;} */
.logoImg{max-width: 140px;}

/* homepage  */
.slideImage{flex:0 0 33.33%;max-width:33.33%;overflow: hidden;float: left;}
.slideImage a{position:relative;width:100%;display:block;height:100%;text-decoration: none !important;}
.slideImage a img{object-fit:fill;height:100%;width:100%;transition: 0.6s;transform: scale(1);}
.slideImage a::before{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0);z-index:1}
.slideImage:nth-of-type(even) .contentDiv{bottom: 70%;}
.slideImage:nth-of-type(odd) .contentDiv{bottom:20%}
.slideImage a .contentDiv{transition:.6s;position:absolute;z-index:1;padding-left:1rem;padding-right:1rem;font-family: 'CoolveticaRg-Regular';}
.slideImage a .contentDiv h1{letter-spacing: 3px;font-size: 2.5rem;}
.slideImage a .contentDiv p{color:#fff;overflow:hidden;transition:.6s;font-size: 1.2rem;height:35px}
.slideImage:hover a .contentDiv p{height:90px}
.slideImage:hover a img{transform: scale(1.2);}



/* portfolio page*/
.swiper-container{width:100%;height:auto;margin-left:auto;margin-right:auto;flex:0 0 100%}
.galleryWrap{height:100%;display:flex;flex-wrap:wrap;align-content:center}
.swiper-slide{background-size:cover;background-position:center;height: 160px;transition: 0.6s;}
/* .swiper-slide:hover{height: 250px;width: 350px !important;} */
.swiper-slide a{display: block;position: relative;overflow: hidden;height: 100%;}
.swiper-slide a::before{content: '';position: absolute;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.30);left: 0;top: 0;z-index: 1;transition: 0.6s;}
.swiper-slide img{width:100%}
.gallery-top{width:100%}
.gallery-thumbs{padding:10px 0}
.gallery-thumbs .swiper-slide{opacity:1}
.gallery-thumbs .swiper-slide-thumb-active{opacity:1}
.smallTitle{position: absolute;right: 3%;bottom: 3%;color: #FFF;font-family: 'APompadourBoldSample';text-transform: uppercase;}
.swiper-slide:hover a::before{background: rgba(0, 0, 0, 0)}


/* contact us page*/
.padding{padding-left:1rem;padding-right:1rem;}
.mt-95{margin-top: 95px;}
.contactUsMain{height: 100vh;align-items: center;}
.alignItemCenter{height: 100%;display: flex;align-items: center;}
.formWrap{color: #FFF;display: flex;}
.commonHeader{color:#b0f831;font-family: 'CoolveticaRg-Regular';text-align: center;letter-spacing: 3px;font-size: 2.5rem;margin-bottom: 1rem;}
.display-inline{flex: 0 0 33.33%;max-width: 33.33%;padding: 0rem 1rem;}
.selectBoxesWrap{display: flex;flex-wrap: wrap;margin-top: 1rem;flex: 0 0 100%;}
.contactFieldWrap{display: flex;flex-wrap: wrap;padding-right: 3rem;}
.display-inline .container{display:block;position:relative;padding-left:35px;margin-bottom:12px;cursor:pointer;font-size:16px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;font-family: 'APompadourBoldSample';}
.display-inline .container input{position:absolute;opacity:0;cursor:pointer;height:0;width:0}
.checkmark{position:absolute;top:0;left:0;height:20px;width:20px;background-color:#c7c7c7;border-radius: 5px;}
.display-inline .container:hover input ~ .checkmark{background-color:#b0f831}
.display-inline .container input:checked ~ .checkmark{background-color:#b0f831}
.checkmark:after{content:"";position:absolute;display:none}
.display-inline .container input:checked ~ .checkmark:after{display:block}
.display-inline .container .checkmark:after{left:5px;top:2px;width:5px;height:12px;border:solid #000;border-width:0 3px 3px 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.videoLabel{display: inline-block;background: #b1f933;color: #000;padding: 5px;font-size: 1.3rem;position: relative;top: -5px;}
.display-inline .container input:checked ~ .labelLabel{color: #b1f933;}
/* .labelLabel{color: #b1f933;} */
.emailCallWrap{font-family: 'APompadourSample';position: fixed;bottom: 0px;width: 100%;background: #000;padding: 1.5rem;}
.emailCallWrap p{padding-bottom: .5rem;}
.emailCallWrap p a{text-decoration: none;color: #bbbbbb;font-size: 1.2rem;}
.form-group{flex: 0 0 33.33%;max-width: 33.33%;font-family: 'APompadourBoldSample';padding: 1rem;}
.form-group input, .form-group textarea{font-family: 'APompadourSample';width: 100%;padding: 1rem;font-size: 1.2rem;box-shadow: 0px 1px 7px #afafaf;border: solid 2px rgba(175, 175, 175, 0.19);outline: none;font-style: italic;background: #d6d6d6;color: #686868;}
.form-group textarea{resize: none;}
.flex-1{max-width: 100%;flex: 0 0 100%;}
.submitBtn{border: none;font-size: 2rem;padding: 0.2rem 1rem;background: transparent;color: #FFF;overflow: hidden;outline: none;position: relative;cursor: pointer;font-family: 'ViceCitySans';}
.submitBtn::before{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #97bb33;z-index: -1;transition: 0.3s;}
.submitBtn::after{content: '';position: absolute;top: 100%;left: 0;width: 100%;height: 100%;background: #fc10f3;z-index: -1;transition: 0.3s;}
.submitBtn:hover::before{top: -100%;}
.submitBtn:hover::after{top: 0%;}
/* blog page */
.blogWrap{display: flex}
.fullDIv{flex: 0 0 100%;max-width: 100%;position: relative;}
.bigImage{height: 100%;object-fit: fill;position: absolute;top: 0;right: 0;max-width: 100%;}
.blogContentWrap{font-family: 'CoolveticaRg-Regular';z-index: 1;position: relative;display: flex;height: 100%;align-items: center;padding-left: 3rem;font-size: 2.5rem;color: #FFF;width: 40%;word-break: break-word;letter-spacing: 3px;text-transform: uppercase;text-align: center;}
.flex{flex-basis: 0;flex-grow: 1;max-width: 100%;}
.flex-30{flex: 0 0 30%;max-width: 30%;overflow: hidden;}
.flex-70{flex: 0 0 70%;max-width: 70%;overflow: hidden;}
.blogImage{object-fit: cover;width: 100%;height: 100%;object-position: left;}
.horizontalImg img{max-width: 100%;height: 100%;object-fit: fill;width: 100%;}
.height50{height: 50%;}
.flexContent{justify-self: center;align-content: center;color: #FFF;padding: 2rem 3rem;font-size: 1rem;flex-wrap: wrap;text-align: center;align-self: center}
.flexContent p{font-family: 'APompadourSample';font-size: 1.2rem;line-height: 1.4;}
.blogInnerTitle, .flexContent h2{font-family: 'CoolveticaRg-Regular';text-align: center;width: 100%;font-size: 2.5rem;text-transform: uppercase;margin-bottom: 1rem;}
.flexContent h2{text-align: left;}
.leftTextConetnt{text-align: right;}
.leftTextConetnt h2{font-family: 'APompadourSample';margin-bottom: 0;font-size: 1.2rem;text-align: right;}
.leftTextConetnt p{font-family: 'APompadourSample';margin-bottom: 1.5rem;}

/* footer css*/
footer{position: fixed;bottom: 0;left: 0;width: 100%;display: flex;justify-content: center;padding: 0 1rem;margin-bottom: 1rem;align-items: center;font-family: 'APompadourSample';z-index: 999999;}
footer p{font-size: .7rem;color: #ccc;}
/* footer ul>li{list-style-type: none;display: inline-block;padding-left: 1rem;}
footer ul>li>a{font-size: .7rem;color: #b0f831;text-decoration: none;} */
.arrowsWrap{position: fixed;z-index: 5;bottom: 1%;color: #FFF;display: flex;width: 100%;justify-content: flex-end;padding: 1rem;}
.arrowsWrap span{background: rgba(0, 0, 0, 0.70);color: #b0f831;width: 45px;height: 45px;border-radius: 50%;display: block;vertical-align: middle;font-size: 1.8rem;text-align: center;padding-top: 7px;cursor: pointer;}
.arrowsWrap span i{transition: 0.6s;transform: rotate(0deg);}
.arrowsWrap span:hover{background: #b0f831;color: #000;}
.arrowsWrap span:hover i{transform: rotate(360deg);}

/* social icons */
.socialIcon{position: fixed;right: 1%;top: 50%;transform: translateY(-50%);z-index: 9999;}
.socialIcon>ul{}
.socialIcon>ul>li{list-style-type: none;text-align: center;padding: .5rem;}
.socialIcon>ul>li>a{color: #000;display: inline-block;font-size: 1.2rem;text-align: center;width: 30px;height: 30px;border-radius: 50%;background: #2ed5a9;padding: 5px 7px;}


/* about us page */
.videoWrap{width: 100%;height: 100%;position: fixed;top: 0;left: 0;background: url(../images/video-thumbnail.jpg) no-repeat;background-size: cover;}
.aboutHeader{position: absolute;z-index: 4;top: 30%;left: 50%;font-size: 3.5rem;font-family: 'TheBoldFont';transform: translateX(-50%);color: #b0f831;letter-spacing: 5px;}
.playButton{position: absolute;z-index: 4;top: 50%;left: 50%;font-size: 2.5rem;font-family: 'TheBoldFont';transform: translate(-50%, -50%);color: #b0f831;}
.playButton span{width: 80px;height: 80px;text-align: center;display: block;padding: 14px 0px;border-radius: 50%;border: solid 1px;cursor: pointer;}
.aboutUsContent{position: fixed;bottom: 0;width: 100%;background: rgba(34, 35, 40, 0.60);color: #FFF;padding: 1rem 8rem 4rem;text-align: center;transition: 0.6s;opacity: 0;}
.aboutUsContent h2{font-family: 'APompadourBoldSample';color: #2175a4;font-size: 2rem;}
.aboutUsContent p{font-family: 'APompadourSample';line-height: 1.4;font-style: italic;margin-top: 1rem;}
main video:hover~.aboutUsContent{opacity: 1;}

/* navbar menu */
nav{font-family: 'TheBoldFont';overflow: hidden;width: 70%;display : none}
nav ul{display: flex;justify-content: space-between;position: relative;right: 0;}
nav ul li{display: inline-block;font-size: 1.7rem;padding: 15px;}
nav ul li a{color: #b1f932;text-decoration: none;}
nav ul li a:hover{color: #e234bc;}
.activeNav a{position: relative;color: #b1f932 !important;opacity: .7;}
.activeNav{background: url(../images/glow-layer.png);background-size: 100% 100%;}

.activeNav a::before{content: '';box-shadow: 1px 1px 20px #FFF;}


@keyframes loader{
    0%{
        opacity: 0;
        transform: rotate(270deg);
    }
    100%{
        opacity: 1;
        transform: rotate(0deg);
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    .sm-flex-wrap{flex-wrap: wrap;}
    .slideImage{flex: 0 0 100%;width: 100%;max-width: 100%;}
    .slideImage:nth-of-type(even) .contentDiv, .slideImage:nth-of-type(odd) .contentDiv{bottom:15%;}
    /* header {position: relative;} */
    .slideImage a img {object-fit: cover;max-height: 330px;}
    .slideImage a, .contactUsMain,main,.height50{height: auto;}
    .contactUsMain{margin-top: 95px;}
    .display-inline {flex: 0 0 50%;max-width: 50%;padding: 1rem 1rem;}
    .form-group {flex: 0 0 100%;max-width: 100%;}
    .display-inline .container{font-size: 15px;margin-bottom: 0px;}
    .commonHeader, .menuDiv ul li, .blogInnerTitle, .flexContent h2, .aboutHeader, .aboutUsContent h2{font-size: 1.5rem;}
    footer {position: relative;margin-top: 1rem;}
    .submitBtn, .selectBoxesWrap{margin-bottom: 1rem;}
    /* .mt-95{margin-top: 0;} */
    .closeBtn{top: 5%;right: 3%;}
    .blogContentWrap{font-size: 1rem;height: auto;width: 100%;margin-top: 1rem;margin-bottom: 1rem;    padding-left: 1rem;}
    .bigImage{height: auto;position: relative;}
    .flex{flex: 100%;}
    .blogImage{max-width: 100%;height: auto;}
    .flexContent{padding: 1rem;font-size: 1rem;line-height: 1.2;}
    .formWrap{flex-wrap: wrap;}
    .contactFieldWrap{padding-right: 0;}
    .emailCallWrap{position: relative;bottom: 0;}
    .flex-30, .flex-70{flex: 0 0 100%;max-width: 100%;}
    .arrowsWrap{display: none}
    .singleMenu {width: 100%;flex: 0 0 100%;height: 33.33%;}
    .menuDiv{flex-wrap: wrap;}
    .videoWrap{position: relative;height: 95vh;}
    .aboutUsContent{position: relative;padding: 1rem;}
    
}
/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    
}
/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
    
}